<div class="messageContainer">
  <div *ngIf="!isPresentation">
    <app-header></app-header>
    <div class="messages">
      <div *ngFor="let i of xd">
        <app-my-message [content]="i.me"></app-my-message>
        <app-bot-message [content]="i.you"></app-bot-message>
      </div>
    </div>
    <!--
    -->
    <app-bar></app-bar> 
    <!--define a footer with margin to respect the bar size-->
    <div class="footer"></div>
  </div>
  <div *ngIf="isPresentation">
    <app-presentation></app-presentation>
  </div>
</div>